<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quinoa watch issue example</title>
    <link rel="stylesheet" href="main.css"/>
</head>
<body>
<div class="box red">
    Red
</div>
<!--
    add gre-en class (without the dash - PurgeCSS detects any reference to
    a style name, even in comments) to the div below and refresh while using
    Quarkus dev mode with Quinoa
-->
<div class="box">
    Green
</div>
<script src="main.js" defer></script>
</body>
</html>
